*{
    padding: 10;
	box-sizing: border-box;
}
/* please help there is so much junk in here */

body {
  background-color: #1d41e2;
  text-align: center;
  font-family: "Verdana";
}

.back {
  color: white;
  font-size: 20px;
  text-align: center;
}

hr {
  border-top: 1px solid white;
}
/* beginning of gallery CSS */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  color: white;

}

.responsive {
  padding: 0 6px;
  float: center;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* end of gallery CSS */
table, th, td {
  border-collapse: collapse;
  text-align: center;
  color: white;
}

.img-imagery {
    width: 100%;
}

h1 { 
  color: white;
  font-size: 40px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//you aren't even using this just remove it already you cunt
h2 {
  color: yellow;
}

p {
  color: white;
  font-size: 20px;
  text-align: center;
}

a:link {
  font-size: 15px;
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  font-size: 15px;
  color: white;
  background-color: transparent;
  text-decoration: none;
}

img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}