*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header {
  padding: 0px;
  background-color: #000099;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  left: 0;
  right: 0;
}

footer {
  margin-top: 5px;
  background-color: #000099;
  padding: 10px;
  clear: both;
  /* position: relative; */
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  background-color: #1d41e2;
  text-align: center;
  font-family: "Helvetica";
  margin-bottom: 50px;
}

h1 { 
  color: white;
  font-size: 45px;
}

h2 {
	color: yellow;
}

p {
  color: white;
  font-size: 20px;
}

marquee {
  color: white;
}

.img-imagery {
    width: 100%;
}

a:link {
  font-size: 20px;
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: lightgray;
    transition: color white 0.25s ease;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

table, th, td {
  border-collapse: collapse;
  text-align: center;
  color: white;
}

hr {
  border-top: 1px solid white;
}