s*{
    padding: 0;
}

body {
  background-color: #1d41e2;
}

.img-imagery {
    width: 100%;
}

h1 { 
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
//you aren't even using this just remove it already you cunt
h2 {
  color: yellow;
  font-family: verdana;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: lightgray;
    transition: color white 0.25s ease;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

img {
    text-align:center;
}

div {
    text-align:center;
}