*{
    padding: 0;
}

body {
  background-color: #1d41e2;
}

h1 { 
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  color: yellow;
  font-family: verdana;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: lightgray;
    transition: color white 0.25s ease;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

img {
    text-align:center;
}

div {
    text-align:center;
}

//remove below if test.html is deleted
.wrapper {
    width:100%;
}

.img-banner {
    display:none;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 0px 30px 20px;
    line-height: 44px;
}

.img-me {
    width: 100%;
}